{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Sub-Category list {% endblock %}

{%block body%}
 <center>
    <h2>Sub-Category Details</h2>
     <div class="container">
         <form name="frm" action="" method="post">
            {% csrf_token %}
         <table border="1">
        <tr>
            <th>ID</th>
            <th>Sub Category Name</th>
            <th>Category Name</th>
            <th>Options</th>

        </tr>
        {% for n in sub_list %}
        <tr class="info ">
            <td>{{ n.id }}</td>
            <td>{{n.sub_category_name}}</td>
           {% for k,value in category_list.items %}

				{% if k == n.category_master_id %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
                <td><a class="nav-link" href="../admin_delete_sub_category?id={{n.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <h1><a href="{% url 'admin_add_sub_category' %}">Add Sub Category</a></h1>
    </form>
     </div>
 </center>
<style>
    form
{
 counter-reset:Serial;
}
    table
    {
    }
    .auto-index td:first-child:before
    {
     counter-increment:Serial; /* increment the serial counter*/
     content:counter(Serial); /* display the counter*/
    }
</style>
{%  endblock %}
